.watch {
    width: 100vw;
    height: 100%;

    .back {
        display: flex;
        align-items: center;
        position: absolute;
        top: 10px;
        left: 10px;
        color: white;
        cursor: pointer;
        z-index: 2;
    }

    .video {
        width: 100%;
        heigh: 100%;
        object-fit: cover;
    }
}